#link {
	i, img {
		margin-right: 0.2em;
		margin-left: 0.2em;
		max-height: 40px;
		max-width: 80px;

		&.fab, &.fas {
			color: #ffffff;
			font-size: 40px;
		}
	}

	a {
		text-decoration: none;
	}
}
